@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown {
  min-width: 85px;
}

.tag-desc{
  max-width: 85px;
}
.dropdown ul li{
  font-size: 12px;
}

.twitter-icon{
  width: 30px !important;
  height: 30px !important;
}

.spectrum-background {
  background:
      linear-gradient(#000000, rgb(11, 13, 37)),
      linear-gradient(to bottom left, #000000, rgb(13, 15, 46));
  background-blend-mode: screen;
}
.panel{
  background: linear-gradient(104.33deg, rgba(255, 255, 255, 0.09) 9.28%, rgba(196, 196, 196, 0) 315.58%);

  filter: drop-shadow(0px 4.52112px 6.78168px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(54.5222px);
  /* Note: backdrop-filter has minimal browser support */
  
  border-radius: 10px;
  max-width: 680px;
}

.twittericontag{
  left: -27px;
  top: -27px;
}

.subtitle{
  max-width: 680px;
}

.pagespan{
  width: 81px;
  height: 8px;
  border-radius: 4px;
  margin-left: 6px;
  margin-right: 6px;
}


.gradient-panel{

  left: 25vw;
  bottom: 0;
  width: 50vw;
  height: 50vh;
  background: rgba(79, 87, 209, 0.2);
  border: 1px solid #000000;
  filter: blur(202px);
  border-radius: 18px;
  transform: rotate(-90deg);

  position: absolute;

}
@media (max-width: 600px) {
  .twittericontag{
    display: none;
  }
}


@media (max-width: 1024px) {
  .panel {
    max-height: 300px;
  }
  .panel div img {
    max-height: 200px;
  }
}